body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 300px;
    text-align: center;
}

#clock {
    color: #fff;
    font-weight: 500;
    font-size: 120px;
}
#color {
    color: black;
    font-size: 30px;
}
.cursor {
    width: 10rem;
    height: 10rem;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
}